
*{
    font-family: "微軟正黑體";
}

td {
    border: 0;
   
}

#login-div *, #register-div * {
    margin: 0 auto;
}

#login-div input, #register-div * {
    margin-bottom: 20px;
}

.field-validation-error {
    padding-bottom: 30px;
    display: inline-block;
}

.nav-member {
    line-height: 90px !important;
    padding: 0 10px !important;
}

#product-tabs, .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 0;

}
.ui-widget-header .ui-state-active {
    background-color: #ff763a;
}


    .ui-widget-header {
        border: 0;
        background-color: #000;
    }

.ui-tabs .ui-tabs-nav li{
    margin-right:10px;
}

.full-width{
    width:100%;
}
.tabs-review-div {
    height: 265px;
    position: relative;

}

.customer-reviews-name {
    padding-left: 20px 20px;
    font-size:16px;
    font-weight:700;
    float: left;
}

.customer-reviews-date {
    text-align: right;
    color: #989898;
}

.reviews-reply {
    height: 110px;
    background-color: #e4e4e4;
    position: absolute;
    bottom: 0;
    width: 70%;
    right: 0;
}

.reviews-content{
    padding:10px 20px;
}

.pagination > :first-child a, .pagination > :last-child a{
    display: block;
    width: auto;
}
.message-paged-div{
    text-align:center;
}

.custom-dialog .ui-widget-header {
    background-color: #4c4c4c;
}

.custom-dialog .ui-dialog-title{
    color:#fff;
}

.process-dialog {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .45 ) url('/Images/ajax-loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .process-dialog {

    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .process-dialog {
    display: block;
}

