@model Prj_Soap.Models.ViewModels.AboutContentViewModel

<div class="be-section clearfix" data-headerscheme="background--light" style="">
    <div class="be-section-pad clearfix" style="padding-top:50px;padding-bottom:50px;">
        <div class="be-row be-wrap clearfix">
            <div class="one-col column-block clearfix" data-animation="" style="  ">
                <div class="be-custom-column-inner">
                    <div class="special-heading-wrap style1 0" data-animation="fadeIn">
                        <div class="special-heading align-center">
                            <h5 class="special-h-tag" style="color: ">關於我們</h5>
                            <hr class="separator margin-bottom " style="background-color:#919191;border-color:#919191;color:#919191;height:2px;width:70px;" />
                        </div>
                    </div>
                    <div class="special-subtitle-wrap  0" style="margin-bottom: 30px;" data-animation="fadeIn">
                        <div class="align-center"><span class="special-subtitle" style="color: ##7F8684; font-size: 18px ; width: 100%">
                            @if (!string.IsNullOrEmpty(Model.Content))
                            {
                                @Model.Content
                            }
                             </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
