@using PagedList.Mvc
@using PagedList
@model IPagedList<Prj_Soap.Models.ViewModels.NewsListViewModel>
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">公告列表</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive">
        <div class="row">
            <div class="col-md-12">
                <table id="tb-news" class="table table-hover">
                    <tr>
                        <th>標題</th>
                        <th>時間</th>
                    </tr>
                    @if (Model == null)
                    {
                        <tr>
                            <td colspan="2">無資料</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td  news-id="@item.Id">@item.Title</td>
                                <td>@Html.DisplayFor(modelitem => item.AddTime)</td>
                            </tr>
                        }
                    }
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new {page }))
            </div>

            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
</div>

